<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button [defaultHref]="['/menu']"></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-title">Menu de Postres</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>

    <ion-grid class="grid-Menu">
        <ion-row>
            <ion-col>
                <ion-item class="item-Menu" routerLink='/comida' routerDirection="/menu">
                    <ion-img class="img-Menu" [src]="['../../../assets/images/Postres/fresascrema.jpg']"></ion-img>
                    <ion-content>
                        <ion-label>Fresas con Crema</ion-label>
                        <ion-text>Precio:</ion-text>
                        <ion-label>$12.000</ion-label>
                    </ion-content>
                </ion-item>

            </ion-col>
            <ion-col>
                <ion-item class="item-Menu" routerLink='/comida' routerDirection="/menu">
                    <ion-img class="img-Menu" [src]="['../../../assets/images/Postres/helados.jpg']"></ion-img>
                    <ion-content>
                        <ion-label>Helados</ion-label>
                        <ion-text>Precio:</ion-text>
                        <ion-label>$10.000</ion-label>
                    </ion-content>
                </ion-item>

            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-item class="item-Menu" routerLink='/comida' routerDirection="/menu">
                    <ion-img class="img-Menu" [src]="['../../../assets/images/Postres/postrecafe.jpg']"></ion-img>
                    <ion-content>
                        <ion-label>Postre de Cafe</ion-label>
                        <ion-text>Precio:</ion-text>
                        <ion-label>$10.000</ion-label>
                    </ion-content>
                </ion-item>

            </ion-col>
            <ion-col>
                <ion-item class="item-Menu" routerLink='/comida' routerDirection="/menu">
                    <ion-img class="img-Menu" [src]="['../../../assets/images/Postres/postrelimon.jpeg']"></ion-img>
                    <ion-content>
                        <ion-label>postre de Limon</ion-label>
                        <ion-text>Precio:</ion-text>
                        <ion-label>$10.000</ion-label>
                    </ion-content>
                </ion-item>

            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-item class="item-Menu" routerLink='/comida' routerDirection="/menu">
                    <ion-img class="img-Menu" [src]="['../../../assets/images/Postres/postremaracuya.jpg']"></ion-img>
                    <ion-content>
                        <ion-label>Postre de Maracuya</ion-label>
                        <ion-text>Precio:</ion-text>
                        <ion-label>$10.000</ion-label>
                    </ion-content>
                </ion-item>

            </ion-col>
            <ion-col>
                <ion-item class="item-Menu" routerLink='/comida' routerDirection="/menu">
                    <ion-img class="img-Menu" [src]="['../../../assets/images/Postres/postremora.jpg']"></ion-img>
                    <ion-content>
                        <ion-label>Postre de Mora</ion-label>
                        <ion-text>Precio:</ion-text>
                        <ion-label>$10.000</ion-label>
                    </ion-content>
                </ion-item>

            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-item class="item-Menu" routerLink='/comida' routerDirection="/menu">
                    <ion-img class="img-Menu" [src]="['../../../assets/images/Postres/postreuno.jpg']"></ion-img>
                    <ion-content>
                        <ion-label>Postre de Cubios</ion-label>
                        <ion-text>Precio:</ion-text>
                        <ion-label>$10.000</ion-label>
                    </ion-content>
                </ion-item>

            </ion-col>
            <ion-col>
                <ion-item class="item-Menu" routerLink='/comida' routerDirection="/menu">
                    <ion-img class="img-Menu" [src]="['../../../assets/images/Postres/wafles.jpg']"></ion-img>
                    <ion-content>
                        <ion-label>Wafles</ion-label>
                        <ion-text>Precio:</ion-text>
                        <ion-label>$10.000</ion-label>
                    </ion-content>
                </ion-item>

            </ion-col>
        </ion-row>

    </ion-grid>

</ion-content>