<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button [defaultHref]="['/login']"></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-title">Mesas</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid class="grid-Menu">
        <ion-row>
            <ion-col>
                <ion-item class="item-Menu" [routerLink]="['/menu']" routerDirection="forward">
                    <ion-img class="img-Menu" [src]="['../../../assets/images/Menu/menucomida.jpg']"></ion-img>
                    <ion-content>
                        <ion-label>Mesa 1.</ion-label>
                    </ion-content>
                </ion-item>

            </ion-col>
            <ion-col>
                <ion-item class="item-Menu" [routerLink]="['/menu']" routerDirection="forward">
                    <ion-img class="img-Menu" [src]="['../../../assets/images/Menu/menucomida.jpg']"></ion-img>
                    <ion-content>
                        <ion-label>Mesa 2.</ion-label>
                    </ion-content>
                </ion-item>

            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-item class="item-Menu" routerLink='/menu' routerDirection="/mesas">
                    <ion-img class="img-Menu" [src]="['../../../assets/images/Menu/menucomida.jpg']"></ion-img>
                    <ion-content>
                        <ion-label>Mesa 3.</ion-label>
                    </ion-content>
                </ion-item>

            </ion-col>
            <ion-col>
                <ion-item class="item-Menu" routerLink='/menu' routerDirection="/mesas">
                    <ion-img class="img-Menu" [src]="['../../../assets/images/Menu/menucomida.jpg']"></ion-img>
                    <ion-content>
                        <ion-label>Mesa 3.</ion-label>
                    </ion-content>
                </ion-item>

            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-item class="item-Menu" routerLink='/menu' routerDirection="/mesas">
                    <ion-img class="img-Menu" [src]="['../../../assets/images/Menu/menucomida.jpg']"></ion-img>
                    <ion-content>
                        <ion-label>Mesa 4.</ion-label>
                    </ion-content>
                </ion-item>

            </ion-col>
            <ion-col>
                <ion-item class="item-Menu" routerLink='/menu' routerDirection="/mesas">
                    <ion-img class="img-Menu" [src]="['../../../assets/images/Menu/menucomida.jpg']"></ion-img>
                    <ion-content>
                        <ion-label>Mesa 5.</ion-label>
                    </ion-content>
                </ion-item>

            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-item class="item-Menu" routerLink='/menu' routerDirection="/mesas">
                    <ion-img class="img-Menu" [src]="['../../../assets/images/Menu/menucomida.jpg']"></ion-img>
                    <ion-content>
                        <ion-label>Mesa 6.</ion-label>
                    </ion-content>
                </ion-item>

            </ion-col>
            <ion-col>
                <ion-item class="item-Menu" routerLink='/menu' routerDirection="/mesas">
                    <ion-img class="img-Menu" [src]="['../../../assets/images/Menu/menucomida.jpg']"></ion-img>
                    <ion-content>
                        <ion-label>Mesa 7.</ion-label>
                    </ion-content>
                </ion-item>
            </ion-col>
        </ion-row>

    </ion-grid>

</ion-content>